/* css positions : helps to modify the document flow
    1. static: it is default value. if we scroll down the page, header will move up like other contents.
    2. relative
    3. absolute 
    4. fixed
    5. sticky
    6. inherit
    7. initial
    */

    /* header will be fixed at the top of the page even if we scroll down


     */
body{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    /* z-index:an index used to get the hidden of being overlapped by other element ,by givng a positive value for it
                If we need to hide or need to overlap an element behind the other element , we can guve a negative value for it(we can set any positive or negative value) */
    z-index: 1;
}
/* decendent selector */
header img{
    height: 45px;
}

/* banner section */
.banner img {
    width: 100%;
    height: 100%;
}
/* absolute: the content will be removed form the document flow */
/* absolute: if this position is to work means , the parent tag 'section' shld n=be in a relative position . only then the 'absolute' position will wor further */
.banner h2 {
    position: absolute;
    top: 30%;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.356) ;
    border-radius: 5px;
    color: white;
    left: 20px;
}
/* relative position  */
.banner {
    position: relative;
    text-align: center;
}

.banner h2 span{
    font-weight: bold;
    font-size: 1.3em;
}

/* navigation links */
nav{
    background-color: lightgray;
    /* sticky: the content will be sticked to the document flow after mentioning the limit (meaning that after mentioned position is achived the content will be sticked to the document flow even after scrolling)  */
    position: sticky;
    top: 85px;
    z-index: 5;
}

nav li{
    display: inline-block;
    width: 25%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #17406c;
}
/* nowrap:it will not allow the text to be wrapped, meaning that it will be in the same line. */
nav ul{
    white-space: nowrap;
    max-width: 1000px;
    /* 0 auto: it will make the contents to be centrally aligned in the horizontal form */
    margin: 0 auto;
  
}
/* main section */
article{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

article h2,h3{
    color: #17406c;
}

article p{
    /*line-height: the disance b/w the first line and second line in a para(the height of line1 and line2)
      1.4em: em means relative measurement where the  present value will be the multiple of given value */
    line-height: 1.4em;
    letter-spacing: 1px;
}

article ul li{
    display: inline-block;
    width: 45%;
    padding: 10px;
}
article ul li img{
    width:90% ;
    max-height: 55%;
     /* transition: it is used to design the website with time limit */
    transition: transform .2s;
}

article ul li img:hover{
    position: relative;
    /* helps to move the img slightly */
    top: -4px;
   transform:scale(1.03); 
   /* trandform : it is a animation used to zoom whne hovering */

}
/* states section */
.states{
    background-color: #17406c;
}
.state-list{
    max-width: 900px;
    margin: 0 auto;
    column-count: 4;
    column-gap: 60px;
    padding: 40px;
    list-style: none;
}

section.states ul{
    list-style: none;
    width: 75%;
}

section.states ul li{
    line-height: 20px;
}
section.states ul li a{
    text-decoration: none;
    color: white;
}

section.states ul li a:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* footer */
footer {
    background-color: #17406c;
    margin: 0 auto;
    padding: 12px;

}
footer p{
    color: white;
    text-align: center;
    font-size: 0.9em;
}
/* horizontal line */
hr{
    width: 60%;
    margin: 0 auto;

}
/* visual feed back (sudo classes or sudo elements) */
 nav li:hover{
    text-decoration: underline;
    font-weight: bold;
 }