p {
    /*color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;*/
    margin : 20px;
    padding: 20px;
    /*display none: used to hide that content*/
   /* width: 200px;
    height: 100px;
    overflow: auto;
}
span {
    color: green;
    font-family: 'Courier New', Courier, monospace;
    margin : 20px;
    padding: 20px;
    display: inline-block;
}
h1 {
    color: rgb(255, 0, 0); 
    font-size: 30px;
    text-align: center;*/
    /* padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px; */
    /*padding: 15px;
    margin: 20px;
    border : 5px solid rgb(255, 0, 0);*/
}
/* p.first: it is only applicable for p tag which has a class called first
    first: it is applicable for all the tags which has a class called first 
    single class*/
p.first {  
    color: blueviolet;
}
/* p.first.last: applicable only for the P tag which has both the class name as first and last 
   mutiple class*/
p.first.last {
    color: brown;
}
 /* we use selectors using id and class
    class: we use '.' 
    id: we use '#' */
#outer{
    border: 1px solid black;
}
/* decndent selector : we use space here.
                        it acts as a parent (div) and child(p) tag */
div p{
    color: orange;
}
/* applicable only for the div tag which has a p tag with a class fist */
div p.first{
    color: aquamarine;
}

/* universal decendent selector: we use '*', applicable for all the tags*/
*{
    font-weight: bold;
}
/* atribute selector */
a[href*=google]{
    color: red;
}
/* $: means ends with, applicable only with the which ends with the word mentioned */
a[href$='.co']{
    color: green;
}
/* selectors: id,element,attribute,decndent selector */

/* inheritence: what ever we specify in the name of parent will be inherited to the child */
div{
    color:blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
}
/* if it did not get inherit, we can use 'inherit' word to make it accept the change */
/* specificity: no matter abt the order of selctors used, if we specify the parent and the child ,then that will be taken as the first priority*/
div p{
    border: inherit;
    color: blue;
}

